html {
  --background: #fafafa;
  --gray: #f3f3f4;
  --title-color: #000;
  --title-secondary: #27272a;
  --text-color: #3f3f46;
  --link-color: #5353c9;
  --border-color: #e8e8eb;
  font-family: "Roboto", sans-serif;
}

.dark-mode {
  --background: #1e2024;
  --gray: #30343b;
  --title-color: #fff;
  --title-secondary: #e4e4e7;
  --text-color: #d4d4d8;
  --border-color: #474d57;
}

::-webkit-scrollbar {
  @apply w-3;
  &-track {
    background: var(--background);
  }
  &-thumb {
    background: var(--gray);
  }
}

::selection {
  background: var(--gray);
}

body {
  background: var(--background);
  @apply mx-4 my-8 lg:mx-40 xl:mx-64 lg:my-16;
}

h1 {
  color: var(--title-color);
  @apply mb-1 text-2xl font-medium;
}

h2 {
  color: var(--title-secondary);
  @apply -mb-px text-lg font-medium;
}

p,
a {
  color: var(--text-color);
  @apply text-base leading-6;
}

a {
  color: var(--link-color);
}

svg,
img {
  @apply select-none;
}

hr {
  border-color: var(--border-color);
}

.card {
  background: var(--gray);
  @apply grid w-full duration-300 ease-out transform hover:scale-105;
}

.vue-typer {
  .custom {
    &.char {
      color: var(--text-color);
      @apply text-lg;
      &.selected {
        background: var(--gray);
      }
    }
    &.caret {
      background: var(--background);
    }
  }
}
