html {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  @apply w-2;
  &-track {
    @apply bg-transparent;
  }
  &-thumb {
    @apply bg-[#191919];
    &:hover {
      @apply bg-[#212121];
    }
  }
}

::selection {
  @apply bg-[#202020];
}

body {
  background: url("/bg.webp") #111111 repeat-y;

  @apply max-w-3xl  mx-4 my-8 lg:my-16 lg:mx-auto;
}

h1 {
  @apply text-white mb-1 text-2xl font-bold;
}

h2 {
  @apply text-gray-100 text-lg font-medium;
}

p,
a,
span,
.icon {
  @apply text-[#dedede]  text-base leading-7;
}

svg,
img {
  @apply select-none;
}

.blur {
  backdrop-filter: blur(4px);
}
