html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    @apply w-2;
    &-thumb {
      background: #b0b0b0;
    }
  }
  ::selection {
    background: #bebebe;
  }
}

body {
  background: url("~/assets/img/test.webp") #dedede no-repeat;
  @apply lg:mb-16 bg-contain bg-center overflow-x-hidden;
}

h1 {
  font-family: "IBM Plex Sans", "Poppins", sans-serif;
  @apply text-black mb-1 text-2xl;
}

h2 {
  @apply text-black font-medium text-2xl;
}

p,
a,
span,
.icon {
  @apply text-[#202020]  text-base leading-7;
}

svg,
img {
  @apply select-none;
}

#about {
  background: url("~/assets/img/bg-primary.webp") right top no-repeat;
  background-size: contain;
}
