html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    @apply w-2;
    &-thumb {
      background: #bebebe;
    }
  }
  ::selection {
    background: #bebebe;
  }
}

body {
  @apply bg-[#dedede] m-4 md:m-0 max-w-6xl md:mx-auto lg:mb-16 overflow-x-hidden;
}

h1 {
  font-family: "IBM Plex Sans", "Poppins", sans-serif;
  @apply text-black mb-1 text-2xl;
}

h2 {
  @apply text-black font-medium text-2xl;
}

p,
a,
span,
.icon {
  @apply text-[#202020]  text-base leading-7;
}

svg,
img {
  @apply select-none;
}

#about {
  background: url("~/assets/img/bg-primary.webp") right top no-repeat;
  background-size: contain;
}
