---
import "@/styles/main.css"
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tarık Coşkun</title>
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link rel="preload" type="image/svg+xml" href="/sprite.svg" as="image" />
		<meta name="theme-color" content="hsl(347, 37%, 90%)" media="(prefers-color-scheme: light)" />
		<meta name="theme-color" content="hsl(347, 37%, 10%)" media="(prefers-color-scheme: dark)" />
		<meta name="description" content="Tarık Coşkun's portfolio" />
	</head>
	<body>
		<slot />
	</body>
</html>
