@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* neutral */
  --color-neutral-10: 20, 100%, 99%;
  --color-neutral-50: 22, 38%, 94%;
  --color-neutral-100: 22, 19%, 89%;
  --color-neutral-200: 20, 8%, 78%;
  --color-neutral-300: 24, 6%, 67%;
  --color-neutral-400: 30, 4%, 56%;
  --color-neutral-500: 22, 3%, 46%;
  --color-neutral-600: 34, 4%, 37%;
  --color-neutral-700: 30, 4%, 27%;
  --color-neutral-800: 30, 6%, 19%;
  --color-neutral-900: 30, 7%, 11%;
  /* theme */
  --theme-background: 0, 0%, 100%;
  --theme-surface: var(--color-neutral-50);
  --theme-outline: var(--color-neutral-100);
  --theme-foreground: var(--color-neutral-600);
  --theme-heading: var(--color-neutral-900);
  --theme-subtext: var(--color-neutral-400);

  color-scheme: light;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* neutral */
    --color-neutral-10: 30, 7%, 11%;
    --color-neutral-50: 30, 6%, 19%;
    --color-neutral-100: 30, 4%, 27%;
    --color-neutral-200: 34, 4%, 37%;
    --color-neutral-300: 22, 3%, 46%;
    --color-neutral-400: 30, 4%, 56%;
    --color-neutral-500: 24, 6%, 67%;
    --color-neutral-600: 20, 8%, 78%;
    --color-neutral-700: 22, 19%, 89%;
    --color-neutral-800: 22, 38%, 94%;
    --color-neutral-900: 20, 100%, 99%;
    /* theme */
    --theme-background: 0, 0%, 8%;
    --theme-outline: var(--color-neutral-50);

    color-scheme: dark;
  }
}

::-webkit-scrollbar {
  @apply w-1.5;
}

::-webkit-scrollbar-thumb {
  @apply bg-color-neutral-500;
}

.link {
  @apply text-theme-heading underline decoration-theme-outline underline-offset-2 hover:decoration-theme-heading;
}
