@import "utility.scss";

body {
  background: linear-gradient(to right, #d1c3dc, #f6e5f8, #e2d1e3);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.wrapper {
  &.wrapper-bg {
    background: linear-gradient(to bottom, #fff, #ffffff90);
  }
}

section {
  max-width: 800px;
  margin: auto;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 16px 0;
  backdrop-filter: blur(16px);

  section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      color: #000;
      font-size: 24px;
      font-weight: 600;
    }

    div#links {
      display: flex;
      gap: 24px;
      align-items: center;

      a {
        cursor: pointer;
        font-weight: 500;
        font-size: 18px;
        &.active {
          border-bottom: 2px solid #000;
        }
      }
    }
  }
}

section#home {
  padding: 96px 0;

  h1 {
    &:first-child {
      background: linear-gradient(to bottom, #000, #00000085);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 48px;
      font-weight: 700;
    }
    &:not(:first-child) {
      background: linear-gradient(to right, #9445d4, #cf44d6);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 600;
      font-size: 24px;
    }
  }

  p {
    margin: 18px 0;
  }

  div#accounts {
    padding-top: 12px;
    display: flex;
    gap: 16px;
    align-items: center;
  }
}

section#about {
  padding: 32px 0;
  display: grid;
  gap: 32px;
  align-items: center;

  div {
    &#first-col {
      h1 {
        background: linear-gradient(to bottom, #000, #00000085);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 30px;
        font-weight: 600;
      }
      p {
        margin-top: 12px;
        text-align: justify;
      }
    }
    &#second-col {
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(2, minmax(0, 1fr));

      div.tech {
        padding: 16px;
        border-radius: 12px;
        background: #00000007;

        svg {
          border-radius: 8px;
        }

        h1 {
          margin: 16px 0 4px 0;
          background: linear-gradient(to bottom, #000, #00000085);
          background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 24px;
          font-weight: 600;
        }
      }
    }
  }
}

section#works {
  padding: 32px 0;

  h1 {
    background: linear-gradient(to bottom, #000, #00000085);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 600;
  }

  > div {
    margin-top: 16px;
    display: grid;

    a.work {
      border-radius: 8px;
      padding: 20px;
      display: flex;
      transition: 0.15s;
      cursor: pointer;
      &:hover {
        background: #00000015;
      }

      img {
        border-radius: 6px;
        object-fit: cover;
        background: #151517;
      }

      div {
        h1 {
          font-size: 24px;
        }

        p {
          &.role {
            background: #00000075;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 18px;
            font-weight: 600;
            margin-top: 2px;
          }
          &.description {
            margin-top: 8px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 0 16px;
  }
  header section {
    justify-content: center;
  }
  section#home {
    padding: 32px 0 64px 0;
  }
  section#works {
    > div {
      gap: 12px;
      a.work {
        flex-direction: column;
        img {
          height: 160px;
          margin-bottom: 16px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  section#about {
    padding: 64px 0;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  section#works {
    padding: 64px 0;
    > div {
      margin-top: 32px;
      a.work {
        align-items: center;

        img {
          width: 192px;
        }

        div {
          padding-left: 24px;
        }
      }
    }
  }
}
