@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-neutral-50: 22, 20%, 94%;
  --color-neutral-100: 22, 10%, 89%;
  --color-neutral-200: 20, 8%, 78%;
  --color-neutral-300: 24, 6%, 67%;
  --color-neutral-400: 30, 4%, 56%;
  --color-neutral-500: 22, 3%, 46%;
  --color-neutral-600: 34, 4%, 37%;
  --color-neutral-700: 30, 4%, 27%;
  --color-neutral-800: 30, 6%, 19%;
  --color-neutral-900: 30, 7%, 11%;

  --theme-background: 0, 0%, 100%;
  --theme-surface: var(--color-neutral-50);
  --theme-outline: var(--color-neutral-100);
  --theme-text-body: var(--color-neutral-600);
  --theme-text-title: var(--color-neutral-900);

  --content-width: 640px;
}

body {
	@apply bg-theme-background text-theme-body font-body overflow-x-hidden;
}

::-webkit-scrollbar {
  @apply w-1.5;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-500;
}

p {
  @apply lg:leading-relaxed;
}

.box {
	@apply px-6 py-12 first:pt-24 last:pb-24 first:lg:pt-32 last:lg:pb-32;
}

.box > section {
	@apply mx-auto w-full max-w-[var(--content-width)];
}

.link {
  @apply text-theme-title underline decoration-neutral-200 underline-offset-2 hover:decoration-neutral-900;
}

.button {
  @apply inline-flex items-center bg-theme-surface text-theme-title rounded-full transition-all hover:bg-neutral-800 hover:text-neutral-100 disabled:pointer-events-none disabled:opacity-50;
}

.hero-gradient {
	background: linear-gradient(to bottom, #efdce0, transparent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-neutral-50: 30, 3%, 19%;
    --color-neutral-100: 30, 4%, 27%;
    --color-neutral-200: 34, 4%, 37%;
    --color-neutral-300: 22, 3%, 46%;
    --color-neutral-400: 30, 4%, 56%;
    --color-neutral-500: 24, 6%, 67%;
    --color-neutral-600: 20, 8%, 78%;
    --color-neutral-700: 22, 10%, 89%;
    --color-neutral-800: 22, 20%, 94%;
    --color-neutral-900: 20, 100%, 99%;

    --theme-background: 0, 0%, 8%;

    color-scheme: dark;
  }

  .hero-gradient {
    background: linear-gradient(to bottom, #231014, transparent);
  }
}
