@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700";

* {
  font: 20px "Inter", sans-serif;
  color: #000000a0;
  font-weight: 500;
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;

  &::-webkit-scrollbar {
    width: 6px;
    &-thumb {
      background: #c887d3;
    }
    &-track {
      background: #f6e5f8;
    }
  }
}

.button {
  font-weight: 600;
  font-size: 18px;
  background: #fff;
  box-shadow: 0 4px 8px #d1c3dc30;
  padding: 10px 24px;
  border-radius: 36px;
  transition: 0.15s;
  &:hover {
    background: #ffffff75;
  }
}

.text-center {
  text-align: center;
}

.pc\:hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .mb\:hidden {
    display: none;
  }
  .pc\:hidden {
    display: block;
  }
}
