@import "https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700";

html {
  --background: #ffffff;
  --shadow: #00000010;
  --text-primary: #000000a0;
  --title-solid: #000000;
  --title-gradient: linear-gradient(to bottom, #000000, #00000085);

  --home-bg: linear-gradient(to bottom, #ffffff, #eadce9c0);
  --about-bg: #eadce930;
  --works-bg: #eadce9c0;
  --tech-bg: #0000000a;

  &.dark {
    --background: #18181b;
    --text-primary: #ffffffa0;
    --title-solid: #ffffff;
    --title-gradient: linear-gradient(to bottom, #ffffff, #ffffffc0);

    --home-bg: linear-gradient(to bottom, #18181b, #0d0d0f);
    --about-bg: #0f0f1170;
    --works-bg: #0d0d0f;
    --tech-bg: #e8eaff09;
  }

  &::-webkit-scrollbar {
    width: 8px;
    &-thumb {
      background: var(--text-primary);
    }
  }

  * {
    font: 20px "Inter", sans-serif;
    color: var(--text-primary);
    font-weight: 500;
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    &::selection {
      background: var(--tech-bg);
    }
  }
}

div.wrapper {
  &.wrapper-home {
    background: var(--home-bg);
  }
  &.wrapper-white {
    background: var(--about-bg);
    box-shadow: 0 0 12px var(--shadow);
  }
  &.wrapper-accent {
    background: var(--works-bg);
  }
}

.button {
  font-weight: 600;
  font-size: 18px;
  color: var(--title-solid);
  background: var(--background);
  box-shadow: 0 4px 8px var(--shadow);
  padding: 10px 24px;
  border-radius: 36px;
  cursor: pointer;
  transition: 0.15s opacity;

  &.theme-switch {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -8px;
  }
  &:hover {
    opacity: 0.75 !important;
  }
}

.text-center {
  text-align: center;
}

// Mobile
@media only screen and (max-width: 768px) {
  .mb\:hidden {
    display: none;
  }
  .wrapper {
    padding: 0 16px;
  }
  button.theme-switch {
    position: absolute;
    right: 16px;
  }
}
